body {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', sans-serif;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.splash-screen {
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.splash-screen img {
    width: 150px;
}

.splash-screen p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    transition: color 0.5s ease-in-out;
}

.splash-screen p:hover {
    color: #ff4500; /* Change text color on hover */
}
